/**
 * Базовые стили для всего сайта
 */
body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
	background-color: #d9fcd9;
	/* scrollbar-width: thin; */
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1;
}


.overflow { 
	min-height: 30px; 
}

::-webkit-scrollbar {
	width: 10px;
}
  
::-webkit-scrollbar-track {
	-webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
	background-color: #d9fcd9;
	border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(180deg, #00c6fb, #a7673c);
}

/* .background {
	background-image: url('../Images/background-image.jpeg');
	background-size: cover;
	background-position: center;
} */

/**
 * Стили для шапки сайта
 */

.logo {
	min-width:230px;
	width:22vmin;
	position: absolute;
	left:0;
	top:0;
}

.navbar {
	width: 100%;
	height: 70px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
	/* padding-top:1vmin; */
	background-color: rgb(98, 128, 46);
	
}

.navbar .container {
	height:inherit;
	display:flex;
	justify-content: right;
	align-items: center;
}

.navbar-menu {
	/* list-style-type: none;
	padding-left: 0;
	margin-left: 0; */

	-webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.navbar-menu li {
	display: inline-block;
	/* font-weight: 700; */
	text-decoration: none;
	color: #000;
}

.navbar-menu li a:hover {
	opacity: 1;
}

.navbar-wrap {
	display: flex;
	flex-flow: row nowrap;
	/* font-weight: 700; */
	text-decoration: none;
	color: #000;
}

.navbar-menu li a {
	padding-right: 50px;
	display:inline-block;
	margin-left: 50px;
	text-decoration: none;
	color: #000;
	opacity: 0.6;
	transition: all .07s ease-in-out;
}

/**
 * Общий стиль таблиц для админов
 */

table {
	float: right;
	position: static;
	margin-top: 10px;
	margin-right: 20px;
	border-spacing: 0 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
th {
	padding: 10px 30px;
	background: #ff0000;
	color: #000000;
	border-right: 2px solid; 
	border-left: 2px solid;
	font-size: 0.9em;
}
td {
	vertical-align: middle;
	padding: 10px;
	font-size: 14px;
	text-align: center;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-right: 2px solid #000000;
	border-left: 2px solid #000000;
}

/**
 * Стили для участков
 */


.add_del{
	margin-left: 20px;
	margin-top: 10px;
}

.addblocktext{
	width: 320px;
}

.addblockbutton{
	margin-top: 5px;
	background: #797979;
}

.delblocktext{
	width: 120px;
	margin-top: 5px;
}

.delblockbutton{
	margin-top: 5px;
	background: #797979;
}

/**
 * Стиль таблицы для обычных пользователей
 */

.table-user{
	float: left;
	position: static;
	margin-top: 10px;
	margin-left: 20px;
	border-spacing: 0 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

/**
 * Стили для докторов
 */

.add-doctor-text{
	width: 1000px;
}

.del-doctor-text{
	width: 130px;
	margin-top: 5px;
}

.deldoctorbutton{
	margin-top: 5px;
	background: #797979;
}

.adddoctorbutton{
	margin-top: 5px;
	background: #797979;
}

/**
 * Стили для пациентов
 */

.add-patient-text{
	width: 1000px;
}

.del-patient-text{
	width: 150px;
	margin-top: 5px;
}

.delpatientbutton{
	margin-top: 5px;
	background: #797979;
}

.addpatientbutton{
	margin-top: 5px;
	background: #797979;
}

.name-pages{
	color:black;
	font-weight: 700;
	font-size: 23px;
	padding-left: 20px;
}

/**
 * Стили для осмотров
 */

 .add-inspect-text{
	width: 1000px;
}

.del-inspect-text{
	width: 200px;
	margin-top: 5px;
}

.delinspectbutton{
	margin-top: 5px;
	background: #ff4545;
}

.addinspectbutton{
	margin-top: 5px;
	background: #ff4545;
}

/* стиль для маин страницы */

.maintitle {
	font-size: 3%;
	padding-left: 12px;
}

.main-title-history {
	padding: 2%;
	font-size: 30px;

}

.main-title-title_history {
	padding-left: 3%;
	padding-right: 3%;
}

/* footer */

.footer {
	position:relative;
	padding-top: 0%;
	/* flex-shrink: 0; */
	/* left:0; */
	width:100%;
	height: 85px;
	background-color: rgb(98, 128, 46);
	margin-bottom: 0;
	margin-top: 0;
}

.footer-text-right {
	font-size:25px;
	padding-right:40px;
	padding-top: 25px;
	float:right;
	word-spacing:20px;
	text-decoration: none;
  }
  
  a.menu:hover {
	background-color:rgb(0, 183, 255);
	font-size:25px;
  }

  .footer-content-left {
	padding-left:40px;
	margin-top:15px;
	float:left;
  }
  
  .icon-style {
	height:40px;
	margin-left:40px;
	margin-top:0px;
  }
  
  .icon-style:hover {
	padding:5px;
  }
